:root {
  --bg-color: linear-gradient(-25deg, #e6e8ec, #fff);
  --dark-color: #0a0a0c;
  --light-color: #fff;
  --primary-color: #f39a45;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: poppins, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-color);
  color: var(--light-color);
  overflow: hidden;
}

a {
  color: var(--light-color);
  font-size: 0.9rem;
  transition: all 400ms ease;
}

a:hover {
  color: var(--primary-color);
}

.btn {
  display: inline-block;
  background: transparent;
  padding: 0.5rem 2.4rem;
  border-radius: 2rem;
  color: var(--light-color);
  border: 1px solid #f39a45;
}

.btn:hover {
  background: var(--primary-color);
  color: var(--dark-color);
}

header {
  width: 100%;
  height: 100%;
}

.container {
  width: 86%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

header .container nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 1.2rem;
  position: absolute;
  z-index: 100;
}

header .container nav .logo {
  font-size: 1.5rem;
}

header .container nav ul {
  display: flex;
  gap: 3.6rem;
  align-items: center;
}

header .container nav ul i {
  font-size: 1.3rem;
}

header .container section {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  width: 100%;
  height: 100%;
}

section {
  padding-top: 30px;
}

header .container section .left h3 {
  font-size: 1rem;
  color: var(--primary-color);
}

header .container section .left h2 {
  font-size: 2rem;
}

header .container section .left h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.2rem;
}

header .container section .left h4 {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 10px;
}

header .container section .left h4 sup {
  font-size: 0.5rem;
}

span {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0rem;
  color: rgb(252, 70, 170);
}

header .container section .left p {
  margin-top: 20px;
  max-width: 40rem;
  background: linear-gradient(
    140deg,
    rgb(254, 194, 208),
    rgb(252, 70, 170),
    rgb(116, 47, 120)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
  font-size: 1.8rem;
}

header .container section .left .btn {
  margin-top: 2rem;
  padding: 0.8rem 3rem;
}

header .container .right {
  position: relative;
  display: grid;
  place-items: center;
}

header .container .right .background {
  background: var(--light-color);
  width: 30rem;
  height: 30rem;
  z-index: -1;
  border-radius: 50%;
  justify-self: end;
  margin-top: 2rem;
}

header .container .right .image {
  width: 30rem;
  height: 30rem;
  position: absolute;
  right: 2rem;
}

header .container .right .image img {
  width: 100%;
  /* transform: rotate(35deg); */
  z-index: 0;
  transition: all 0.5s ease;
}

header .container .right .image img:hover {
  transform: rotate(0deg) scale(1.2);
}
